*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myfont;
}

body {
    background-color: #FBECD8;
    }

@font-face {
    font-family: myfont;
    src: url(../fonts/font2.ttf);
}
    

.video iframe{
    display: block; 
    margin: auto;
    width: 900px; 
    height: 550px; 
}

footer{
    background: #ffe2d8;
    /* text-align: center; */
  }

.footer-copyright{
    background: #f5d5d1;
    /* text-align: center; */
  }

.navbar1{
    border-radius: 2px;
    /* margin-right: 50px; */
    background: #92a4a4;
}

.navbar2{
    border-radius: 2px;
    background: #e3e7e8;
}

.navbar3{
    border-radius: 2px;
    background: #e3e7e8;
}


.carousel-inner .item img{
    margin: auto;
    width: 100%;
}


.carousel-inner > .carousel-item > img,
.carousel-inner > .carousel-item > a > img {
    width: 70%;
    margin: auto;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

.regform {
    display: table;
    width: 100%;
 }

.regiform > .regform{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
 }

fieldset{ 
    background-color: #d4f0f0;
    border: 1px solid black;
    border-radius: 20px;
    width: 800px;
    margin: auto;
}

.fieldset2{ 
    background-color: #ffffb5;
    border: 1px solid black;
    border-radius: 0px;
    width: 400px;
    margin: auto;
}
